*
{
    margin: 0;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 5vh;
    background: #673A44;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.one{
    display: flex;
    color: white;
    gap: 30px;
}
.header1{
    width: 100%;
    height: 800xp;
    background: #F2F2F2;
    display: flex;
    align-items: center;
}
.dd{
    margin-left: 10vh;
}
.lr{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}
.ser{
    width: 100%;
}
.pop{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #843546;
}
.left{
    width: 350px;
    display: flex;
    flex-direction: column;

    row-gap: 40px;
    margin-top: 100px;
}
.left h1{
    font-size: 50px;
}
.twoo{
    display: flex;
    justify-content: space-evenly;
}
.one1{
    width: 30%;
    height: 150px;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.big{
    width: 100%;
    height: 1400px;
    margin-top: 100px;

}
.one2{
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 4px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.poe{
    text-align: center;
}
.three{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.foto{
    display: block;
    margin: auto;
}
.twwo1{
    display: flex;
    max-width: 1000px;
    margin: auto;
}
.left1{
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 100px;
}

.up1{
    width: 100%;
    height: 1000px;
    background: #F2F2F2;
}
.twoo1{
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-evenly;
}
.one5{
    display: flex;
    width: 430px;
    height: 200px;
    align-items: center;
    gap: 30px;
}
.right6{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.lr3{
    display: flex;
    width: 100%;
    height: 600px;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}
.ber{
    width: 400px;
}
.right221{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.right22 p{
    color: gray;
}
.ar{
    width: 100%;
    height: 1600px;
}

.sir{
    text-align: center;
}
.three33{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.one111{
    width: 200px;
    height: 160px;
    text-align: center;
    padding: 20px;
}

.for{
    max-width: 1000px;
    margin: auto;
}
.www{
    width: 100%;
    margin: auto;
}
.lr3{
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}
.sdsd{
    width: 80%;
}
.right33{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.right33 p{
    color: gray;
}
.up11{
    margin: auto;
    max-width: 1000px;
    height: 800px;
}
.left1 p{
    color: gray;
}

.pomo{
    max-width: 1000px;
    height: 600px;
    margin: auto;

}
.three9
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.one123{
    width: 250px;
    height: 350px;
    box-shadow: 0px 0px 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px;   
}
.xcxc1{
    width: 30%;
    margin-top: 30px;
}
.sl{
    text-align: center;
}

.zay{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.rez{
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.nuy{
    width: 400px;
}
.lrft34{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 50px;
}
.lrft34 p{
    color: gray;
}

.kompot{
    max-width: 1000px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.bar{
    width: 80%;
}
.right56{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 80px;
}
.right56 p{
    color: gray;
}



@media (max-width:510px) {
    .lr{
        display: flex;
        flex-direction: column-reverse;
        height: 800px;
    }
    .left{
        margin: auto;
        text-align: center;
    }
    .pop{
        margin: auto;
    }
    .rere{
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 100px;
    }
    .twoo{
        display: block;
    }
    .one1{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .three{
        display: block;
    }
    .one2{
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
    .big{
        height: 1700px;
    }
    .foto{
        width: 100%;
    }
    .twwo1{
        display: block;
    }
    .left1{
        width: 90%;
        margin: auto;
    }
    .right1{
        width: 80%;
    }
    .ser{
        width: 90%;
        margin: auto;
        margin-top: 80px;
    }
    .up1{
        height: 1400px;
    }
    .header{
        height: 100px;
        display: block;
        gap: 30px;
    }
    .cvcvcv{
        display: block;
        margin: auto;
        margin-top: 30px;
    }
    .two{
        display: block;
        margin: auto;
    }
    .twoo1{
        display: block;
    }
    .one5{
        width: 80%;
        margin: auto;
    }
    .ber{
        display: block;
        margin: auto;
        width: 80%;
    }
    .right221{
        margin-top: 100px;
        width: 70%;
        margin: auto;
    }
    
    .lr3{
        display: block;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 60px;
    }
    .left33{
        margin: auto;
    }
    .sdsd{
        display: block;
        width: 80%;
        margin: auto;
    }
    .right33{
        margin: auto;
    }
    .three33{
        display: block;
    }
    .one111{
        margin: auto;
    }
    .left{
        width: 100%;
    }
    .up11{
        height: 1000px;
        margin-top: 500px;
    }
    .three9{
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .one123{
        margin: auto;
    }
    .pomo{
        height: 1600px;
    }
    .rez{
        width: 100%;
        height: 800px;
        display: block;
        margin: auto;
    }
    .lrft34{
        margin: auto;
    }
    .nuy{
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 60px;
    }
    .kompot{
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 300px;
        height: 400px;
    }
    .bar{
        display: block;
        width: 70%;
        margin: auto;
        margin-top: 50px;
    }
    .right56{
        width: 80%;
        margin: auto;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .rere{
        width: 60%;
        margin-top: 100px;
    }
    .lr{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        gap: 50px;
    }
    .left{
        margin-left: 120px;
    }
    .three{
        display: block;
    }
    .one2{
        margin: auto;
        margin-top: 30px;
    }
    .foto{
        width: 100%;
    }
    .big{
        height: 2000px;
    }
    .twwo1{
        display: block;
        margin: auto;
    }
    .left1{
        margin: auto;
    }
    .right1{
        width: 80%;
        margin: auto;
    }
    .up1{
        height: 1600px;
    }
    .twoo1{
        display: block;
    }
    .one5{
        width: 60%;
        margin: auto;
    }
    .lr3{
        height: 700px;
        display: block;
        margin: auto;
    }
    .ber{
        display: block;
        margin: auto;

    }
    .for{
        height: 800px;
    }
    .right221{
        margin: auto;
        margin-top: 80px;
        height: 200px;
    }
    .lr3{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 60px;
    }
    .left33{
        margin: auto;
    }
    .sdsd{
        display: block;
        width: 80%;
        margin: auto;
    }
    .right33{
        margin: auto;
    }
    .up11{
        margin-top: 400px;
        height: 1200px;
    }
    .three9{
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .one123{
        display: flex;
        margin: auto;
    }
    .pomo{
        width: 100%;
        height: 1600px;
    }
    .zay1{
        width: 50%;
    }
    .zay{
        width: 50%;
    }
    .rez{
        width: 100%;
        height: 600px;
        display: block;
        margin: auto;
    }
    .lrft34{
        margin: auto;
    }
    .nuy{
        display: block;
        margin: auto;
        margin-top: 60px;
    }
    .kompot{
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        margin-top: 300px;
        height: 800px;
    }
    .bar{
        display: block;
        width: 70%;
        margin: auto;
        margin-top: 50px;
    }
    .right56{
        margin: auto;
    }
}